* {
    box-sizing: border-box;
    margin: 0;
    font-weight: 200;
}

#username {
    position: fixed;
    height: 3vw;
    rotate: 270deg;
    margin-top: 5vw;
    margin-left: 0.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-size: 2vw;
    z-index: 10;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - LOGIN AND REGISTRATION */

#title-startpage {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2vw;
    font-weight: 400;
    margin-bottom: 2vh;
}

#logo-startpage {
    width: 17vw;
    margin-top: 15vh;
    margin-bottom: 3vh;
}

.reg-login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reg-login-form {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    text-align: center;
    padding-bottom: 2vh;
}

.reg-login-form input {
    margin-bottom: 1vh;
    text-decoration: none;
    border: solid 1.4px black;
    height: 4vh;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    padding-left: 1vh;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.reg-login-button {
    height: 6vh;
    background-color: lightgrey;
    color: black;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.reg-login-sentence {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    margin-top: 1.5vh;
    font-weight: 400;
}

.reg-login-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.error-message {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    margin-top: 5vh;
    color: orangered;
    font-weight: 400;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SHAPES */

#shape-starter {
    position: absolute;
    height: 80vh;
    top: 15vh;
    left: 20vw;
    z-index: 1;
}

#shape-main {
    position: absolute;
    height: 80vh;
    top: 5vh;
    left: 30vw;
    z-index: 2;
}

#shape-dessert {
    position: absolute;
    height: 42vh;
    top: 34vh;
    left: 38vw;
    z-index: 3;
}

#starter-bgr {
    width: 100vw;
    position: fixed;
    z-index: -5;
}

#main-bgr {
    width: 100vw;
    position: fixed;
    z-index: -5;
}

#dessert-bgr {
    width: 100vw;
    position: fixed;
    z-index: -5;
    opacity: 70%;
}

#shape-background {
    height: 85vw;
    width: 85vw;
    position: absolute;
    top: 0vh;
    left: 10vw;
    border-radius: 50%;
    opacity: 80%;
}

.hovertext-main {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext-main:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 180px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 17vh;
    left: 50vw;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vh;
    font-weight: 200;
}

.hovertext-main:hover:before {
    opacity: 1;
    visibility: visible;
}

.hovertext-starter {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext-starter:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 180px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 28vh;
    left: 28vw;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vh;
    font-weight: 200;
}

.hovertext-starter:hover:before {
    opacity: 1;
    visibility: visible;
}

.hovertext-dessert {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext-dessert:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 180px;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 53vh;
    left: 45vw;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vh;
    font-weight: 200;
}

.hovertext-dessert:hover:before {
    opacity: 1;
    visibility: visible;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ICONS */

.icons-container {
    position: fixed;
    height: 100vh;
    width: 5.5vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.link-circle {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
}

.link-circle-clicked {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 350, "GRAD" 0, "opsz" 48;
}

#timer-input {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    color: black;
}

.recipe-directions {
    color: black;
}

.recipe-directions-done {
    /* color: gray; */
    text-decoration: line-through;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SEARCH */

.recipes-middle-line {
    position: absolute;
    left: 50vw;
    top: 5vh;
    border-left: 1.5px solid black;
    height: 90vh;
}

.recipes-search {
    width: 40vw;
    position: absolute;
    left: 55vw;
    top: 5vh;
    /* border: 2px solid black; */
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    line-height: 1.75;
}

.recipes-search h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 900;
}

.recipe-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipes-preview {
    width: 40vw;
    position: absolute;
    left: 15vw;
    top: 5vh;
    /* border: 2px solid black; */
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    line-height: 1.75;
}

.recipes-preview h1 {
    max-width: 30vw;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 900;
    text-decoration: none;
    color: black;
    line-height: 2.75vw;
    margin-bottom: 1vw;
}

.recipes-preview img {
    width: 30vw;
    max-height: 25vw;
    object-fit: cover;
}

#recipes-preview-icons-div {
    margin-top: 1.5vw;
}

.recipes-preview-icons {
    padding-right: 1vw;
}

.icons-text {
    font-size: 1.35vw;
    position: relative;
    bottom: 4px;
    left: 2px;
}

#link-directions {
    text-decoration: none;
}

.ingredients-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.25vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - DIRECTIONS */

.recipes-directions {
    width: 40vw;
    position: absolute;
    left: 55vw;
    top: 5vh;
    /* border: 2px solid black; */
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    line-height: 1.75;
}

.recipes-directions h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 900;
    font-weight: 200;
}

.directions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.25vw;
    line-height: 2;
}

.directions-list li span {
    position: relative;
    top: 6px;
    margin-right: 8px;
}

#timer {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
    position: absolute;
    top: 85vh;
}

#timer-done {
    font-family: "Montserrat", sans-serif;
    font-size: 4.5vw;
    font-weight: 200;
    position: absolute;
    top: 71.5vh;
}

.alert-middle-line {
    position: absolute;
    top: 84vh;
    border-top: 1.5px solid black;
    width: 25vw;
}

.link-ellipse {
    height: 3vw;
    width: 10vw;
    border-radius: 20px 20px 20px 20px;
    background-color: darkgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25vw;
    font-weight: bolder;
    z-index: -5;
    position: absolute;
    bottom: 38vh;
    left: 2vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - MENU */

#menu-preview-all {
    height: 85vh;
    position: absolute;
    left: 10vw;
    top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-preview {
    width: 25vw;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    line-height: 1.75;
    padding-left: 2.5vw;
    padding-top: 1vw;
    margin-right: 2vw;
    position: relative;
}

.menu-preview h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.menu-preview img {
    width: 20vw;
    height: 17vw;
    object-fit: cover;
}
.delete-button-menu {
    position: absolute;
    bottom: 1vw;
    right: 2vw;
}

#menu-icons-div {
    position: absolute;
    bottom: 2vw;
    left: 2.5vw;
}

#menu-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-empty {
    width: 50vw;
    height: 4vw;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - GROCERIES */

#groceries-list-all {
    height: 80vh;
    width: 80vw;
    position: absolute;
    left: 10vw;
    top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.groceries-list {
    width: 25vw;
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    box-shadow: 7.5px 7.5px gray;
    font-size: 1.2vw;
    line-height: 1.75;
    padding-left: 2.5vw;
    padding-top: 1vw;
    margin-right: 2vw;
    position: relative;
}

.groceries-list h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
    text-decoration: none;
    color: black;
    position: relative;
    top: 1vw;
}

.groceries-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 2vw;
}

.groceries-unmarked {
    color: black;
}

.groceries-marked {
    color: black;
    text-decoration: line-through;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - CREATE RECIPE */

.recipe-form-page {
    width: 85vw;
    position: absolute;
    left: 10vw;
    top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-form {
    width: 25vw;
    height: 85vh;
    background-color: rgb(224, 224, 224);
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* position: relative; */
}

.recipe-added-element {
    width: 25vw;
    height: 85vh;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    overflow: scroll;
    box-shadow: 7.5px 7.5px gray;
    font-weight: 200;
}

.recipe-added-element h1 {
    align-self: center;
}

.recipe-added-element ul {
    list-style: none;
    margin-left: 2vw;
    padding: 0;
    -webkit-padding-start: 0;
}

.recipe-added-element li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.25vw;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    padding: 0;
    -webkit-padding-start: 0;
}

.recipe-added-element li span {
    margin-top: 0.5vw;
    margin-right: 1vw;
}

#x-delete-element {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    margin-right: 1vw;
    margin-top: 0.3vw;
    border: none;
    background-color: rgb(224, 224, 224);
}

.recipe-form-page h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75vw;
    font-weight: 900;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-weight: 400;
}

::placeholder {
    color: black;
    opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-long {
    width: 22vw;
    height: 2.2vw;
    margin-bottom: 1.8vw;
    /* margin-left: 7vw; */
    text-decoration: none;
    color: black;
    outline: none;
    /* border: black solid 1px; */
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25vw;
    text-align: center;
    background-color: white;
    font-weight: 200;
}

.input-small {
    width: 22vw;
    height: 2.2vw;
    margin-bottom: 1.8vw;
    /* margin-right: 7vw; */
    /* margin-left: 7vw; */
    text-decoration: none;
    color: black;
    outline: none;
    border: none;
    /* border: black solid 1px; */
    font-family: "Montserrat", sans-serif;
    font-size: 1.25vw;
    text-align: center;
    background-color: white;
    font-weight: 200;
}

.recipe-input-button {
    all: unset;
    width: 10vw;
    height: 2.5vw;
    position: absolute;
    bottom: 2vw;
    /* left: 7vw; */
    font-family: "Montserrat", sans-serif;
    font-size: 1.25vw;
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: 400;
}

input::file-selector-button {
    height: 2.5vw;
    width: 7vw;
    /* margin-left: 7vw; */
    font-weight: bold;
    /* padding: 0.5em; */
    border: thin solid grey;
}

.error-create-recipe {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    margin-top: 5vh;
    color: orangered;
    font-weight: 400;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - UPDATE RECIPE */

.input-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    font-size: 1.25vw;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    padding: 0;
    -webkit-padding-start: 0;
}

.button-update-recipe {
    all: unset;
    width: 6vw;
    height: 2.5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25vw;
    text-align: center;
    background-color: gray;
    color: white;
}
